
.home
{
    width:100%;
    padding:10px;
    width: 700px;
    color:white;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top:15%;
    h2{
        font-size: 2.5rem;
        margin-bottom: 50px;
    }
    a{
        display: block;
        text-decoration: none;
        color: white;
        background-color: rgb(59, 98, 163);
        width: 400px;
        padding:7px 45px;
        margin: 15px auto;
        border-radius: 2px;
        font-size: 1.1rem;
        &:hover
        {
            filter: brightness(150%);
            cursor: pointer;
        }
    }
    :last-child{
        background-color: rgb(255, 51, 102);
    }
}
@media (max-width:739px)
{
    .home{
        box-sizing: border-box;
        max-width: 340px;
        h2{
            font-size: 1.4rem;
        }
        a
        {
            width: 100%;
            box-sizing: border-box;
            padding-top:10px;
            padding-bottom:10px;
        }
    }
}