@import '../../static/scss/button.module.scss';
.home
{
    width:100%;
    padding:10px;
    width: 700px;
    color:white;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top:15%;
    h2{
        font-size: 2.5rem;
        margin-bottom: 50px;
    }
    a{
        @include button(rgb(0, 176, 230));
        display: block;
        text-decoration: none;
        color: white;
        background-color: rgb(59, 98, 163);
        width: 400px;
        padding:7px 45px;
        margin: 15px auto;
        border-radius: 2px;
        font-size: 1.1rem;
        background-color: transparent;
        // box-shadow: 0 0 2px white;
        border: 1px solid rgb(160, 160, 160);
        &:hover
        {
            background-color: rgb(59, 98, 163);
            border: 1px solid transparent;
            filter: brightness(150%);
            box-shadow: 0 0 10px rgb(59, 98, 163),
                        0 0 20px rgb(59, 98, 163),
                        0 0 40px rgb(59, 98, 163),
                        0 0 60px rgb(59, 98, 163);
            transition:background-color 0s linear 1s,filter 0s linear 1s,box-shadow 0s linear 1s;
            
            cursor: pointer;
        }
    }
    :last-child{
        @include button(rgb(255, 51, 102));
        &:hover{
            background-color: rgb(255, 0, 76);
            border: 1px solid transparent;
            filter: brightness(150%);
            box-shadow: 0 0 10px rgb(255, 51, 102),
                        0 0 20px rgb(255, 51, 102),
                        0 0 40px rgb(255, 51, 102),
                        0 0 50px rgb(255, 51, 102);
        }
    }
}
@media (max-width:739px)
{
    .home{
        box-sizing: border-box;
        max-width: 340px;
        h2{
            font-size: 1.4rem;
        }
        a
        {
            width: 100%;
            box-sizing: border-box;
            padding-top:10px;
            padding-bottom:10px;
        }
    }
}