
.chatroom
{
    display:flex;
    width: 100%;
    position:relative;
    background-color: wheat;
    position: relative;
}
@media (max-width:739px) {
    .chatroom{
        flex-direction: column;
        height: 93vh;
    }
}