@import '../../static/scss/button.module.scss';
.login
{
    width: 100%;
    max-width: 650px;
    margin:auto;
    box-sizing: border-box;
    padding:20px;
    color:white;
    position: absolute;
    top:15%;
}
.signUp
{
    top:5%;
}
form
{
    max-width: 500px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: sans-serif;
    box-sizing: border-box;
}
.formHeading
{
    font-size: 1.8rem;
    margin-top: 0;
}
.formPara
{
    color: #888;
}
.formGroup label
{
    display: block;
    text-align: left;
    padding:4px 0;
}
.formGroup 
{
    margin-bottom: 4px;
    input{
    padding:7px 15px 7px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.05rem;
    font-weight: bold;
    border-radius: 2px;
    border: 2px solid transparent;
    border-bottom:1px solid rgb(64, 240, 219);
    background-color: transparent;
    color:white;
    }
}
.formGroup input:focus
{
    outline: none;
}
.formGroup span
{
    margin-top: 4px;
    text-align: left;
    font-size: 0.9rem;
    display: block;
    font-weight: lighter;
    height:16px;
}
form button
{
    padding:7px 0;
    width: 100%;
    border-radius: 2px;
    color: white;
    // background-color: rgb(27, 194, 177);
    background-color: transparent;
    border: none;
    font-size: 1.15rem;
    border:1px solid #40f0db;
    @include button();
}
form button:hover
{
    border:1px solid transparent;
    background-color: rgb(64, 240, 219);
    box-shadow: 0 0 10px rgb(64, 240, 219),
                0 0 15px rgb(64, 240, 219),
                0 0 20px rgb(64, 240, 219),
                0 0 40px rgb(64, 240, 219);
    transition:background-color 0s,box-shadow 0s;
    transition-delay: 1s;
    cursor: pointer;
}

form span{
    color: red;
}
.invalid input
{
    border-bottom: 1px solid red !important;
}
.formGroup div
{
    text-align: left;
}
.formGroup input[name="gender"]
{
    width: fit-content;
    display: inline-block;
    margin: 8px 14px;
}
.loginFail
{
    font-size: .95rem;
    height:18px;
    display: block;
    position: relative;
    top:-14px;
    font-weight: lighter;
}
.userExist
{
    height:18px;
    font-size: .97rem;
    position: relative;
    top:-17px;
    display: block;
    font-weight:500;
}