
.editForm
{
    position: absolute;
    top:15%;
    width: 500px;
    input{
        width: 100%;
        padding:6px 10px;
        margin: 8px 0 12px;
        box-sizing: border-box;
        font-size: 1rem;
        &:focus{
            outline: 2px solid #1bc2b1;
        }
    }
    span
    {
        font-size: 1.099rem;
        color:white;
        display: block;
        text-align: left;
    }
    button
    {
        font-size: 1rem;
        font-weight: bold;
        padding:7px;
        margin-top: 15px;
        border-radius: 0;
    }
}

@media (max-width:739px) {
    .editForm{
        width: 90%;
    }
}