
.editForm
{
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 25px;
    input{
        width: 100%;
        padding:6px 10px;
        margin: 6px 0 20px 0;
        border-radius: 3px;
        box-sizing: border-box;
        border: 1px solid;
        font-size: 1rem;
    }
    span
    {
        display: block;
        color:black;
        text-align: left;
    }
    button
    {
        font-size: 1rem;
        font-weight: bold;
        padding:7px;
        margin-top: 5px;
    }
}